.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;

  @media only screen and (max-width: $breakpoint-md) {
    margin: 7.5rem 0;
  }
}

.home {
  background-color: $colorGreyLight1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.5rem;

  &__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
  }

  &__heart {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    fill: $colorPrimary;
    width: 3rem;
    height: 3rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem;
    cursor: pointer;
  }

  &__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 2;
    width: 80%;
    justify-self: center;
    align-self: end;
    font-family: $fontDisplay;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: $colorSecondary;
    color: $white;
    font-weight: 400;
    transform: translateY(50%);
  }

  &__location,
  &__rooms {
    margin-top: 2.5rem;
  }

  &__location,
  &__rooms,
  &__area,
  &__price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;

    svg {
      fill: $colorPrimary;
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
    }
  }

  &__btn {
    grid-column: 1 / -1;
  }
}
