.realtors {
  background-color: $colorSecondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
  place-content: center;
  // align-content: center;
  // justify-content: center;
  gap: 2rem;

  @media only screen and (max-width: $breakpoint-md) {
    grid-column: 1 / -1;
  }

  &__title {
    justify-self: center;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    column-gap: 2rem;
    row-gap: 5vh;

    @media only screen and (max-width: $breakpoint-md) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media only screen and (max-width: $breakpoint-sm) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__sold {
    text-transform: uppercase;
    color: $colorGreyDark2;
    margin-top: -0.3rem;
  }
}
