$colorPrimary: #c69963;
$colorPrimaryDark: #b28451;

$colorSecondary: #101d2c;

$colorGreyLight1: #f9f7f6;
$colorGreyLight2: #aaa;

$colorGreyDark1: #54483a;
$colorGreyDark2: #6d5d4b;

$black: #000;
$white: #fff;

$fontPrimary: "Nunito", sans-serif;
$fontDisplay: "Josefin Sans", sans-serif;

// + 1200px/16px = 75em
$breakpoint-xl: 75em;

// + 1000px/16px = 62.5em
$breakpoint-l: 62.5em;

// + 800px/16px = 50em
$breakpoint-md: 50em;

// + 600px/16px = 37.5em
$breakpoint-sm: 37.5em;
